---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title>Slopper</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ '/feed.xml' | absolute }}" rel="self" type="application/atom+xml"/>
  <link href="{{ '/' | absolute }}" rel="alternate" type="text/html"/>
  <id>{{ '/' | absolute }}</id>
  <updated>{{ (latest.generatedAt if latest else site.buildTime) }}</updated>
  <author><name>Slopper</name><uri>{{ '/about/' | absolute }}</uri></author>
  <rights>CC BY 4.0</rights>
  {%- for s in sloppers | batch(30) | first %}
  <entry>
    <title>{{ s.motto }}{% if s.number %} (Slopper #{{ s.number }}){% endif %}</title>
    <link href="{{ s.url | absolute }}" rel="alternate" type="text/html"/>
    <id>{{ s.url | absolute }}</id>
    <published>{{ s.date }}T00:00:00Z</published>
    <updated>{{ s.generatedAt }}</updated>
    <summary>{{ s.phrase }}</summary>
    <content type="html">{% filter escape %}<p><a href="{{ s.url | absolute }}"><img src="{{ (s.url + ('still.png' if s.files['still.png'] else 'slopper.svg')) | absolute }}" width="540" height="540" alt="{{ s.alt }}"></a></p><p>{{ s.phrase }}</p>{% endfilter %}</content>
  </entry>
  {%- endfor %}
</feed>
