---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ '/' | absolute }}</loc>{% if latest %}<lastmod>{{ latest.generatedAt | truncate(10, true, '') }}</lastmod>{% endif %}</url>
  <url><loc>{{ '/archive/' | absolute }}</loc></url>
  <url><loc>{{ '/about/' | absolute }}</loc></url>
  {%- for s in sloppers %}
  <url><loc>{{ s.url | absolute }}</loc><lastmod>{{ s.generatedAt | truncate(10, true, '') }}</lastmod></url>
  {%- endfor %}
</urlset>
